{% assign colorCookie = block.settings.accept-button-text-color %}
{% assign colorCross = block.settings.cross-color %}

<div
  class="cookies-banner"
  style="background-color: {{ block.settings.bg-color }}"
>
  <div class="cookies-banner__links-container">
    {
      "Privacy Policy": "{{ block.settings.privacy-policy }}",
      "Terms of Conditions": "{{ block.settings.terms-of-conditions }}"
    }
  </div>
  <div class="cookies-banner__section">
    <div class="cookies-banner__image">
      {% render "Cookies" %}
    </div>

    <div
      class="cookies-banner__message"
      style="color: {{ block.settings.message-color }}"
    >
      {{ block.settings.content }}
    </div>
  </div>

  <div class="cookies-banner__section">
    <button
      class="cookies-banner__accept-button cookie-button"
      style="background-color: {{ block.settings.accept-button-color }}; color: {{ block.settings.accept-button-text-color }}"
    >
      <div>
        {% render "Cookie_button", color: colorCookie %}
      </div>
      <span>Accept cookies</span>
    </button>

    <button
      class="cookies-banner__decline-button cookie-button"
      style="background-color: {{ block.settings.decline-button-color }}; color: {{ block.settings.decline-button-text-color }}"
    >
      Decline
    </button>

    {% render "Close_button", color: colorCross %}
  </div>
</div>

{% schema %}
  {
    "name": "Cookie Banner",
    "target": "body",
    "stylesheet": "style.css",
    "javascript": "script.js",
    "settings": [
      {
        "label": "Content",
        "id": "content",
        "type": "text",
        "default": "Our website use cookies."
      },
      {
        "label": "Background Color",
        "id": "bg-color",
        "type": "color",
        "default": "#ffffff"
      },
      {
        "label": "Message Color",
        "id": "message-color",
        "type": "color",
        "default": "#000000"
      },
      {
        "label": "Accept Button Color",
        "id": "accept-button-color",
        "type": "color",
        "default": "#FFC611"
      },
      {
        "label": "Accept Button Text Color",
        "id": "accept-button-text-color",
        "type": "color",
        "default": "#ffffff"
      },
      {
        "label": "Decline Button Color",
        "id": "decline-button-color",
        "type": "color",
        "default": "#ffffff"
      },
      {
        "label": "Decline Button Text Color",
        "id": "decline-button-text-color",
        "type": "color",
        "default": "#170F49"
      },
      {
        "label": "Close Button Color",
        "id": "cross-color",
        "type": "color",
        "default": "#170F49"
      },
      {
        "label": "Privacy Policy Link",
        "id": "privacy-policy",
        "type": "text",
        "default": "/"
      },
      {
        "label": "Terms of Conditions Link",
        "id": "terms-of-conditions",
        "type": "text",
        "default": "/"
      }
    ]
  }
{% endschema %}